@model IEnumerable<Escuela_Sor_Maria.Models.ViewModelEstudianteMatricula>

@{
    ViewData["Title"] = "ListaAlumnos";
}


<div class="container-fluid">
    <h2>Alumnos Registrados</h2>
    <hr />
    <div class="shadow-mj br-15 px-1 py-3 offser-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="text-white text-center">
                        <th>
                            @Html.DisplayNameFor(model => model.Alumno.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Alumno.Aoellido1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Alumno.Apellido2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Alumno.Edad)
                        </th>
                        <th>
                            Condición
                        </th>
                        <th>
                           Cursos Matriculados
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class=" text-center text-white">
                            <td>
                                @Html.DisplayFor(modelItem => item.Alumno.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Alumno.Aoellido1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Alumno.Apellido2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Alumno.Edad)
                            </td>
                            @if (item.Alumno.Estado == 1)
                            {
                                <td>
                                    Estudiante
                                </td>
                            }
                            else if (item.Alumno.Estado == 2)
                            {
                                <td>
                                   Egrasado
                                </td>
                            }
                            <td>
                                @if (item.Matriculas.Count > 0)
                                {
                                     <ul>
                                    @foreach (var matriculas in item.Matriculas)
                                    {
                                        <li>@matriculas.Cursos.NombreCursoo</li>
                                    }
                                    </ul>
                                }
                                else
                                {
                                    <p>No tiene matrículas</p>
                                }
                            </td>
                            <td>
                                @*<a asp-action="Edit" asp-route-id="@item.Cedula">Edit</a> |*@
                                <a class="btn otorgar-boton p-1 px-2 my-1" asp-action="Matricularse" asp-route-id="@item.Alumno.Cedula">Matricular</a>
                                <a class="btn detalle-boton p-1 px-2" asp-action="Informacion" asp-route-id="@item.Alumno.Cedula">Información</a>
                                @*<a asp-action="Delete" asp-route-id="@item.Cedula">Delete</a>*@
                            </td>
                           
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a class=" btn retornar-boton p-1 my-3" asp-action="Index" asp-controller="Home">Volver al Inicio</a>
</div>
