@model IEnumerable< Escuela_Sor_Maria.Models.Profesor_Direccion>

@{
    ViewData["Title"] = "ListaPersonas";
}

<div class="container">
    <h2>Lista de Profesores</h2>
    <hr />
    <div class="shadow-mj br-15 px-1 py-3 offser-12 px-5">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="text-white">
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Apellido1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Apellido2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Telefono)
                        </th>
                        @if (User.IsInRole("SuperUsuario") || User.IsInRole("Administrador") || User.IsInRole("Profesor"))
                        {
                            <th>Accciones</th>
                        }
                        else
                        {
                           
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-white text-center">
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellido1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellido2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            @if (User.IsInRole("SuperUsuario") || User.IsInRole("Administrador") || User.IsInRole("Profesor"))
                            {
                                <td>
                                    <a class="btn detalle-boton p-1" asp-action="InformacionProfesor" asp-controller="Personas" asp-route-id="@item.Cedula">Vista Detallada</a>
                                    @if (User.IsInRole("SuperUsuario") || User.IsInRole("Administrador"))
                                    {
                                        <a class="btn editar-boton p-1" asp-action="EditarDocente" asp-controller="Personas" asp-route-id="@item.Cedula">Actualizar Informacón</a>
                                        <button type="button" class="btn eliminar-boton p-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                        data-id="@item.Cedula">
                                            Suspender Docente
                                        </button>
                                    }
                                </td>
                            }
                            else
                            {

                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a class=" btn retornar-boton p-1 my-3" asp-action="Index" asp-controller="Home">Volver al Inicio</a>
</div>


<!-- Modal -->
<div class="modal fade AjustarModal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content shadow-mj2 bg-gradiente">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Suspender Profesor (a)</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Confirmar la Suspencion del profesor (a) ?
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" onsubmit="return confirm('¿Confirmar la eliminación del Cliente ?');">
                    <input type="hidden" name="Id" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Suspender</button>
                </form>
            </div>
        </div>
    </div>
</div>

