@model IEnumerable<Escuela_Sor_Maria.Models.ViewModel>

@{
    ViewData["Title"] = "ListaMaterias";
}
<div class="container-fluid">
    <h2>Lista de Materias</h2>
    <hr />
    <div class="shadow-mj br-15 px-1 py-3 offser-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="text-white text-center">
                        <th>
                           Materias
                        </th>
                        <th>
                            Cursos
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Materia.Descripcion)
                        </th>
                        <th>
                             Nombre del Profesor
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Materia.Estado)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center text-white">
                            <td>
                                @Html.DisplayFor(modelItem => item.Materia.NombreMateria)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Curso.NombreCursoo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Materia.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreCompletoProfesor)
                            </td>
                            @if (item.Materia.Estado == 1)
                            {
                                <td>Disponible</td>
                                <td>
                                    <a class="btn editar-boton p-1 px-2 mx-2" asp-action="ActualizarMateria" asp-controller="Materias" asp-route-id="@item.Materia.IdMateria">Actualizar</a>
                                    <button type="button" class="btn eliminar-boton p-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                            data-id="@item.Materia.IdMateria">
                                        Suspender
                                    </button>
                                </td>
                            }
                            else if (item.Materia.Estado == 2)
                            {
                                <td>No se Imparte</td>
                                <td>
                                    <a class="btn editar-boton p-1 px-2 mx-2" asp-action="ActualizarMateria" asp-controller="Materias" asp-route-id="@item.Materia.IdMateria">Actualizar</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a class=" btn retornar-boton p-1 my-3" asp-action="Index" asp-controller="Home">Volver al Inicio</a>
</div>

<!-- Modal -->
<div class="modal fade AjustarModal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content shadow-mj2 bg-gradiente">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Suspender Materia</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Confirmar la Suspender esta materia?
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" >
                    <input type="hidden" name="Id" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Suspender</button>
                </form>
            </div>
        </div>
    </div>
</div>
